<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <category android:name="android.intent.category.OPENABLE"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission android:name="com.resumemaker.resumecvbuilder.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="com.resumemaker.resumecvbuilder.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>

    <application
        android:name="com.resumemaker.resumecvbuilder.ads.MyApplication"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/CVMaker"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1721766249559954~9240653745"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <activity
            android:exported="true"
            android:theme="@style/AppTheme"
            android:name="com.resumemaker.resumecvbuilder.splashAds.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/AppTheme"
            android:name="com.resumemaker.resumecvbuilder.splashAds.PrivacyTermsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.resumemaker.resumecvbuilder.CvViewer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.resumemaker.resumecvbuilder.SaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.resumemaker.resumecvbuilder.TomthanosActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.resumemaker.resumecvbuilder.Create_CV"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.resumemaker.resumecvbuilder.EditActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.resumemaker.resumecvbuilder.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.resumemaker.resumecvbuilder.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>